<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DEBUG" value="3"/>
		<add key="MASSIVECOUNT" value="10000"/>
		<add key="action" value="C:\;F:\;H:\;" />
		<add key="charsplit" value=";" />
	</appSettings>
	<connectionStrings>
		<add name="explorer" connectionString="Data Source = (localdb)\MSSQLLocalDB; Initial Catalog = explorer; Integrated Security = True"/>
	</connectionStrings>
</configuration>